<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Customer Profile </h1>
            </div>
             <div class="content">
                    <h3>{{profile.name}} </h3>
                    <p>{{profile.birth}}</p>
                    <p>{{profile.gender}}</p>
                    <p>{{profile.email}}</p>
                    <p>{{profile.phone}}</p>
                    <p> {{profile.address}}</p>
                    <div class="button">
                        <a href="/profile/edit">Edit Profile</a>
                        <a href="">Read More</a>
                    </div>
                </div>
        
        </div>
        <div class="image-section">
            <img src="{{this.image}}">
        </div>
    </div>
</div>