<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>Admin </h1>
            </div>
            <div class="content">
                <h3>{{this.name}} </h3>
                <p>{{this.birth}}</p>
                <p>{{this.gender}}</p>
                <p>{{this.email}}</p>
                <p>{{this.phone}}</p>
                <div class="button">
                    <a href="">Edit Profile</a>
                    <a href="">Read More</a>
                </div>
            </div>
        
        </div>
        <div class="image-section">
            <img src="{{this.image}}">
        </div>
    </div>
</div>